{
    "env": {
        "browser": true,
        "es2022": true
    },
    "extends": [
        "airbnb-base",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
    },
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
      "import/prefer-default-export": "off",
      "import/extensions": ["error", { "ts": "always", "js": "always" }],
      "import/no-unresolved": "off"
    }
}
